.certsPage {
  background: url('../images/certs-bg.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodList{
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  border-color: rgb(48, 100, 152);
  border-width: 3px;
  outline: none;
  padding-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border-width: 3px;
  border-color: rgb(48, 100, 152);
  border-style: solid;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  background-color: rgb(48, 100, 152);
  color: white;
}

.button:hover {
  background-color: white;
  color: rgb(48, 100, 152);
}

@media (max-width: 700px) {
  .certsPage {
    padding: 0;
    padding-top: 15%;
  }

  .goodList {
    width: 70%;
    font-size: 15px;

  }

  .button {
    width: 30%;
    font-size: 15px;
  }
}